__pycache__/
*.py[cod]
*$py.class

.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
htmlcov/

.env
*.env
my.env
secrets/
cache/
weights/

runs/*
!runs/example/
runs/example/*
!runs/example/results_example/
!runs/example/results_example/**
*.lock
**/.locks/
